#logo {
    height: 200px;
    width: 200px;
}
/* header */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header img {
  margin-bottom: 20px;

}

.header_links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
}

footer {
    background-color: black;
    color: white;
    padding-top: 30px;
    text-align: center;
}

h1{
    text-align: center;
}

.container {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.player {
    border: 2px solid black; 
    border-radius: 4px; 
    padding: .5rem;
    background-color: #a3bced;
    height: 400px;
    width: 400px;
}

.player > img{
    display: block;
    margin: auto;
    border-radius: 100px;
    background-color: white;
    height: 200px;
    width: 250px;
}

.player > h2{
    text-align: center;
}

.player > p{
    text-align: center;
    background-color: #3b7af8;
    border-radius: 10px;
}

.coaching-staff-container {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.player-profile {
    border: 2px solid black;
    border-radius: 4px;
    padding: .5rem;
    background-color: #a3bced;
    height: 400px;
    width: 400px;
}

.player-profile>img {
    display: block;
    margin: auto;
    border-radius: 100px;
    background-color: white;
    height: 200px;
    width: 250px;
}

.player-profile>h2 {
    text-align: center;
}

.player-profile>p {
    text-align: center;
    background-color: #3b7af8;
    border-radius: 10px;
}

/* .header-links {
    display: flex;
    flex-direction: column;
} */

/* @media screen and (min-width: 800px){
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .header_links {

    }
    
} */